<!-- catalogo.component.html -->

<div class="main-body" style="display: flex; justify-content: space-between; align-items: center; background-color: lightgreen;">
  <h1>Catalogo</h1>
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="openAddEditEmpForm()">
    Adicionar Catalogo
  </button>
</div>

<div class="main-body" style="background-color: lightgreen;">

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
  </mat-form-field>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Colunas a serem exibidas -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
      </ng-container>

      <ng-container matColumnDef="catalogo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Catalogo </th>
        <td mat-cell *matCellDef="let element"> {{ element.catalogo }} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <!-- Botões de ação (editar e excluir) -->
          <button mat-icon-button (click)="openEditForm(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteCatalogo(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Definição das colunas exibidas -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- Paginação -->
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
